* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input, button {
    font-family: 'Open Sans', sans-serif;
}

input, button {
    font-size: 16px;
}

.head_bar {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(24, 25, 26);
    color: rgb(208, 228, 28);
}

main {
    margin: 0 auto;
    padding: 16px;
    display: flex;
    justify-content: space-evenly;

}

.input_section {
    display: flex;
    flex-direction: column;
    padding: 16px;
    flex: 3;
    width: 500px;
}

.input_section > h3 {
    text-align: center;
    color: rgb(248, 248, 250);
    border: 4px solid rgb(179, 162, 151);
    background-color: grey;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input_section > form > .input {
    margin: 8px 0;
}

.input_section > form > button {
    
    background-color: blue;
    border: 2px solid wheat;
    color: rgb(238, 241, 241);
    font-weight: bold;
    border-radius: 5px;
    width: 20%;
    padding: 8px;
    cursor: pointer;
}

.input_section > form > button > span {
    font-weight: bold;
   
}

.input_section > form > .input > input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    margin-top: 3px;
    
}

.input_section > form > .input > label {
    width: 90%;
    background-color: rgb(22, 1, 22);
    border: 2px solid white;
    color:rgb(208, 228, 28);
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.input_section > form > .input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input_section > form > .input_inline > label {
    color: cornflowerblue;
    font-weight: bold;
    margin-right: 10px;
}

.search_section {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border-radius: 10px;
    flex: 1;
    width: 500px;
}

.search_section > h3 {
    text-align: center;
    color: rgb(248, 248, 250);
    border: 4px solid rgb(179, 162, 151);
    background-color: grey;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

.search_section > form {
    margin-top: 10px;;
    padding: 3px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: auto 1fr 0.5fr;
    grid-gap: 5px;
}

.search_section > form > label {
    display: flex;
    align-items: center;
    background-color: rgb(22, 1, 22);
    border: 2px solid white;
    color:rgb(208, 228, 28);
    border-radius: 10px;
    padding: 2px 10px 2px 10px;
}

.search_section > form > input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

.search_section > form > button {
    background-color: rgb(9, 61, 4);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 20px 5px 20px;
}

.container  {
    display: flex;
    justify-content:flex-end;
    padding-bottom: 6px;
}

.book_shelf {
    margin: 0 8px 0 8px;
    border: 1px solid black;
    padding: 16px;
    border-radius: 10px;
    width: 300px;
}

.book_shelf > h2 {
    color: rgb(239, 241, 245);
    text-align: center;
}

.book_shelf > .book_list {
    padding: 16px;
}

.book_shelf > .book_list > .book_item {
    padding: 8px 16px 16px 16px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 0;
}

.book_shelf > .book_list > .book_item > h3, p {
    margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > button {
    border: 1px solid white;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .green {
    background-color: darkgreen;
    color: white;
    font-size: 10px;
    margin-top: 2px;
    text-align: right;
}

.book_shelf > .book_list > .book_item > .action > .red {
    background-color: darkred;
    color: white;
    font-size: 10px;
    margin-top: 2px;
    text-align: right;
}

.satu   {
    background-color: rgba(106, 142, 35, 0.750);
}

.dua    {
    background-color: rgba(71, 61, 139, 0.750);
}

.completed {
    background-color: rgba(47, 79, 79);
    background-image: url('asset/blob-1.svg');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 1vh;
    background-size: 25%;
    color: whitesmoke;
}

.uncompleted {
    background-color: lightcoral;
    background-image: url('asset/animasi-1.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position-x: right;
    color: rgb(26, 5, 75);
}

.utama {
    border-radius: 10px;
    align-self:flex-start;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    ;
}

.pertama {
    flex: 1;
    align-items: center;
}

.kedua {
    flex: 1;
    align-items: center
}

footer{
    background-color: rgb(19, 20, 20);
    border-top: 2px solid turquoise;
    height: 40px;
}

.content-footer {
    margin: auto;
    color:rgb(208, 228, 28);
    text-align: center;
}

#myDIV {
    background: rgba(106, 142, 35);
    animation: mymove 5s infinite;
  }
  
  @keyframes mymove {
    50% {background-color: rgba(71, 61, 139);}
  }


  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) { 
    .input_section, .search_section, .utama {
        
        align-self: center;
    }
    .kedua  {
        width: 600px;
        align-self: center;
    }
    .container  {
        flex-direction: column;
        margin-top: 10px;
    }

    .book_shelf {
        margin-top: 10px;
    }
    main {
        flex-direction: column;
        justify-content: center;
        background-image: url('asset/2.svg'), url('asset/1.svg');
        background-position: top, bottom;
        background-size: auto, auto;
        
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .input_section, .search_section, .pertama {
        width: 600px;
        align-self: center;
    }
    .kedua  {
        max-width: 630px;
        align-self: center;
    }
    main {
        flex-direction: column;
        justify-content: center;
        background-image: url('asset/2.svg'), url('asset/1.svg');
        background-position: top, bottom;
        background-size: auto, auto;
        
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 992px) {
    .input_section, .search_section, .pertama {
        width: 600px;
        align-self: center;
    }
    .kedua  {
        max-width: 630px;
        align-self: center;
    }
    main {
        flex-direction: column;
        justify-content: center;
        background-image: url('asset/2.svg'), url('asset/1.svg');
        background-position: top, bottom;
        background-size: auto, auto;
        
    }

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .input_section, .search_section, .pertama {
        min-width: 200px;
    }
 
    main {
        flex-direction: row;
        background: url('asset/3.svg'), url('asset/4.svg');
        background-repeat: no-repeat, no-repeat;
        background-size: auto, 30%;
        background-position-y: bottom, 2vh;
        background-position-x: 0, center;

    }
}
